@media only screen and (max-width: 761px) {
    .landing .text h1{
        font-size: 2.5rem;
        width: 100%;
      }
      .new-arrivals h1 {
        font-size: 40px;
      }
      .landing .text {
        width: 100%;
      }
  }

@media only screen and (max-width: 991px) {
    .landing .text h1{
        width: 100%;
      }
  }
